/* Colors 
#141414 BLACK
#00FFFF BLUE
#FFC400 YELLOW
#9A00FF PURPLE
#707070 GREY
*/
/*
.transition-1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background-color: #141414;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease-out;
  justify-content: center;
}

.transition-1.is-active {
  opacity: 1;
  pointer-events: all;
}

.loading-circle {
  width: 75px;
  height: 75px;
  top: 50%;
  position: relative;
  border-radius: 50%;
  border: 8px solid #ffffff10;
  border-top: 8px solid #00ffff;
  animation: loader 1.49s linear forwards;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  95% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

nav {
  animation: navhidden 1.5s linear forwards;
}

@keyframes navhidden {
  0% {
    opacity: 0;
  }
  99.9% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html, body {
  animation: noscroll 1.5s linear forwards;
}

@keyframes noscroll {
  0% {
    overflow: hidden;
  }
  99.9% {
    overflow: hidden;
  }
  100% {
    overflow: auto;
  }
} */